<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}
<body class="{{ if .IsHome }}home{{ end }}">
  <header class="site-header">
    <div class="container">
      <!-- Site title moved to navigation.html -->
      {{ partial "navigation.html" . }}
    </div>
  </header>
  
  <main class="site-content">
    <div class="container">
      {{ block "main" . }}{{ end }}
    </div>
  </main>
  
  <footer class="site-footer">
    <div class="container">
      <p>Software: <a href="http://www.arts-link.com/" target="_blank">arts-link.com</a> | Design: <a href="http://www.avayoudesign.com/" target="_blank">avayoudesign.com</a> | Photography: <a href="http://www.josephhu.net/" target="_blank">Joseph Hu</a> | {{ now.Format "2006" }} All rights reserved</p>
    </div>
  </footer>

</body>
</html>