<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}
<body class="{{ if .IsHome }}home{{ end }}">
  <header class="site-header">
    <a href="#main-content" class="skip-link">Skip to main content</a>
    <div class="container">
      <!-- Site title moved to navigation.html -->
      {{ partial "navigation.html" . }}
    </div>
  </header>
  
  <main class="site-content" id="main-content">
    <div class="container">
      {{ block "main" . }}{{ end }}
    </div>
  </main>

  {{ if not .IsHome }}
  <footer class="site-footer">
    <div class="container">
      <p>© {{ now.Format "2006" }} Jill Bonovitz. All rights reserved | Software by <a href="http://www.arts-link.com/" target="_blank">arts-link.com</a></p>
    </div>
  </footer>
  {{ end }}

</body>
</html>